body {
    background-color: #1a742693;
    color: #040d35;
   }
   h1 {
    color: #042e0a;
    text-align: center;
    font-size: 45;
    font: bold;
   }
   h2 {
    color: #09011a;
    text-align: center;
    font-size: 30;
    font: bold;
   }
   h3 {
    color: #09011a;
    text-align: left;
    font-size: 28;
    font: bold;
   }
   h4{
    color: #09011a;
    text-align: left;
    font-size: 25;
    font: bold;
   }

   p {
    color: #022507;
    font-size: 20;
    font:caption;
    text-align: left;
   }
   textarea{
    color: rgb(18, 211, 28);
    background-color: rgba(116, 21, 95, 0.514);
    padding: 8px;
  }
  input{
    color: rgb(6, 46, 8);
    background-color: rgba(221, 211, 76, 0.692);
    padding: 8px;
  }
  .label{
    color: rgb(10, 63, 12);
    padding: 1px;
  }
    .mandotary {background-color: #aa606a;} 
    .others {background-color: #da73cca2;} 